%h1 Roasted Chestnuts: The Blog


- if current_user.admin?
  = bootstrap_form_for @blog_post do |f|
    = f.text_field :title, label: "Enter blog title:"
    = f.text_area :body, label: "Enter the blog body text:"
    = f.submit "Submit new post"
  %hr

= render @blog_posts

