%h2 Friends' Libraries

/ - @friends.each do |friend|
/   %p= friend["name"]

%table.table.table-hover
  %thead
    %tr
      / %th #
      %th Title
      %th Author
      %th Owner
  %tbody
    - if @friends_book_ownings
      - @friends_book_ownings.each do |record|
        %tr
          / %td #
          %td
            = record.book.title
            %a(href="http://www.amazon.com/exec/obidos/tg/detail/-/#{record.book.isbn10}")
              View on Amazon
            #{link_to "Remove", book_path(record), method: :delete, class: "small"}
          %td= record.book.author
          %td= record.owner.name

