.navbar.navbar-default{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-brand
      = link_to "<span class= 'glyphicon glyphicon-fire'></span> Chestnut".html_safe, root_path
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      - if current_page?(books_path)
        %li.active= link_to "#{current_user.name.split.first}'s Library", books_path
      - if !current_page?(books_path) && current_user
        %li= link_to "#{current_user.name.split.first}'s Library", books_path
      %li
        = link_to "Blog", "#"

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown"}
          - if current_user
            Signed in as #{current_user.name.split.first}
            %b.caret
            %ul.dropdown-menu
              %li= link_to "Sign Out", signout_path, id: "sign_out"
          - else
            %li= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
  / /.nav-collapse