%table.table.table-hover
  %thead
    %tr
      %th 
      %th Title
      %th Author
      %th Owner
  %tbody
    - if @borrowed_books
      - @borrowed_books.each_with_index do |record, i|
        %tr.active
          %td= i+1
          %td
            %em= record.book.title
          %td= record.book.author
          %td #{record.owner.name} (on loan)
    - @owned_books.each_with_index do |record, i|
      %tr
        %td= i+1
        %td
          = record.book.title
          %a(href="http://www.amazon.com/exec/obidos/tg/detail/-/#{record.book.isbn10}")
            View on Amazon
          -if current_user == User.find(params[:user_id])
            #{link_to "Remove", user_library_item_path(@library_owner, record), method: :delete, class: "small"}
        %td= record.book.author
        %td= link_to record.owner.name, user_library_items_path(record.owner)
= will_paginate @owned_books, class: "digg_pagination"
= page_entries_info @owned_books

