.container
  .row
    %h2 Find a book
    = form_tag find_path, method: "get" do
      = select_tag(:search, options_for_select(@users_friends_book_titles_for_select.zip(@users_friends_book_ids_for_select).unshift(["", ""])), id: "e9", style: 'width:260px')
      = submit_tag "Who has this book?", class: 'btn btn-info'
  - if params[:search]
    .row
      %h2 Friends' Libraries
      %table.table.table-hover
        %thead
          %tr
            %th 
            %th Title
            %th Author
            %th
            %th Owner
        %tbody
          - @library_item_results.each_with_index do |record, i|
            %tr
              %td= i+1
              %td
                = record.book.title
                %a(href="http://www.amazon.com/exec/obidos/tg/detail/-/#{record.book.isbn10}")
                  View on Amazon
              %td= record.book.author
              - if record.owner.profile_picture
                %td= image_tag(record.owner.profile_picture, class: "circular circular-header")
              - else
                %td
              %td= link_to record.owner.name, user_library_items_path(record.owner)
